<!DOCTYPE html>
<html data-ng-app="musikApp" data-ng-controller="MainController">
<head>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="style/style.css" rel="stylesheet" type="text/css"></link>
  </head>
  <body>
    <div class="header row-fluid">

    </div>

    <div id="container">
      <div id="taglistpanel">
        <div id="taglist">
          <a ng-click="player.scan_library()" href="">[Scan Library{{scan_state}}]</a>
          <br>
          <a ng-click="player.burn_cd()" href="">[Burn CD{{burn_state}}]</a>
          <br>
          <br>
          <ul id="queue" class="unstyled">
            <li data-ng-repeat="tag in tags">
              <a ng-click="player.play_tag($index)" href="">{{tag}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div id="queuepanel">
        <ul id="queue" class="unstyled">
          <li data-ng-repeat="track in tracks" data-ng-class="{muted: $index<currentlyplaying.index, playing: $index==currentlyplaying.index, selected: $index==selected_track_index}">
            <i ng-show="($index==currentlyplaying.index) && (player_state=='pause')" class="icon-pause"></i>
            <i ng-show="($index==currentlyplaying.index) && (player_state=='play')" class="icon-play"></i>
            <i ng-show="($index==currentlyplaying.index) && (player_state=='stop')" class="icon-stop"></i>
            <i ng-show="$index<currentlyplaying.index" class="icon-empty"></i>
            <i ng-show="$index>currentlyplaying.index" class="icon-time"></i>
            <span ng-click="player.select_track($index)">
              {{track.artist}} - {{track.title}} 
              <span ng-show="track.player_counter" style="playcounter">[{{track.play_counter}}x]</span>
              <span ng-show="track.replaygain_track_gain" style="replaygain"><sup>RG</sup></span>
              <span ng-show="track.bpm" style="bpm"><sup>{{track.bpm}}bpm</sup></span>
            </span>
          </li>
        </ul>
      </div>
      <div id="tageditpanel">
        <div id="tagedits">
          <div class="cover">
            <img id="cover" ng-src="{{coverdata}}"></img>
          </div>
          <ul id="edit-tags" class="unstyled" width="500px">
            <li data-ng-repeat="tag in selectedtrack_taglist" ng-show="!tag.is_special">
              <label class='checkbox'><input type="checkbox" ng-model="tag.checked" ng-click="tag.onClick($event, $index)">{{tag.name}}</label>
            </li>
          </ul>
          <form class="form-inline">
            <input type="text" class="input-small" placeholder="Enter new tag" ng-model="newtag">
            <button type="submit" class="btn" ng-click="tag_onAdd()">Add</button>
          </form>
        </div>
      </div>
    </div>

    <div id="footer row-fluid">
    </div>

    <div id="debugpanel" ng-show="debug">
      <pre ng-show="!edit" style="font-size: 0.8em; line-height: 10px; margin: 0px;">{{trackrawdata | json}}</pre>
      <textarea id="edittextarea" ng-show="edit" style="width:700px; height:200px" ng-model="trackrawdata_stringified"></textarea>
    </div>

    <div id="backgroundcontainer" back-img="{{currentlyplaying.cover}}"></div>

    <script src="js/angular.min.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://s3.amazonaws.com/SwayFM/UnityShim.js"></script>

    <script src="js/app.js"></script>
    <script src="js/socket.js"></script>
    <script src="js/keyboardManager.js"></script>
  </body>
</html>